body {
  font-family: Arial, sans-serif;
  background-color: #F8E2D4;
  color: #000000;
  margin: 0;
  padding: 0;
}

header {
  background-color: #B984DB;
  color: #2e1a47;
  padding: 25px;
  text-align: center;
}

.container {
  background-color: #ffffff;
  max-width: 800px;
  margin: 30px auto;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

h1, h2 {
  color: #7209B7;
}

button {
  background-color: #E2BD6B;
  color: black;
  border: none;
  padding: 10px 15px;
  margin: 10px 10px 10px 0;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #d4a94f;
}
